{% load static %}

{% block content %}

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white navbar-fixed-top" style="text-align: center;">
    <div class="container">
      <!-- Remplacement du texte par un logo -->
      <a class="navbar-brand" href="{% url 'user' %}" style="color: rgb(26, 22, 22);">
        <img src="{% static 'image/logo.png' %}" alt="CasaAgro Logo" style="height: 50px; width: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="align-items: center;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'product-list' %}">Boutique</a>
          </li>
        </ul>
        <div style="display: flex; justify-content: space-between; width: 200px;">
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if user.is_authenticated %}
                {{ user.username }}
                <a href="{% url 'logout' %}">Déconnexion</a>
              {% else %}
                <a href="{% url 'user' %}">S'inscrire</a>
              {% endif %}
            </li>
            <li class="nav-item">
              {% with total_items=cart|length %}
                {% if total_items > 0 %}
                  <a href="{% url 'cart_detail' %}" class="nav-link">
                    {% with total=cart.get_total_price items=total_items %}
                      Panier: {{ items }} produits, {{ total|floatformat }} CFA
                    {% endwith %}
                  </a>
                {% else %}
                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUtJREFUSEvN1CEsRXEUx/HPmxGINtNMpgkkSRE0QWEkQ1GYZBNtIiaYoZigCYogGUEiKIpiI5hNMIH7t3u3t7f37v3zPHPKDf/f/3zPOb/zvyUNjlKD8/tTwEfazSu2Mf8b3ZV3kAGyvEM4rRdSbUSLWMUxRhoBaMcDmtCF+3ogtUzex3gdiQ8xFu7XAgzgvA7ADXrzAOHsGj2YxF4kLOgmsJT6mPsOprGFS/RHANrwhJbkXiceizpoTUXh24erAsgUdnCC4Uxb9JLXE8gcdhES5MUZBlNzg8lfUQQIHgQv3tCBlxqE7mT2d8nrf05177GAoMsqW8BaDcAKllPPZso1RR0EbdjngwiTgySs98V3Ac24TVY1jCEvjpJxjlYKYjqILL66LBawgdnEwM10q8qz5Z0VblGWqPxXXllU3lk0oOEd/NiHWA/+L+ATZAU1GbaBb8sAAAAASUVORK5CYII="/>
                  Votre panier est vide
                {% endif %}
              {% endwith %}
              
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="margin: 40px auto; width: 85%;">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'image/img.jpeg' %}" class="d-block w-100" height="400" alt="Image 1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/mg.jpeg' %}" class="d-block w-100" height="400" alt="Image 2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'image/png.jpeg' %}" class="d-block w-100" height="400" alt="Image 3">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% endblock %}
